.product {
  margin-bottom: 8px;
  color: var(--black);
  text-decoration: none;
  outline: none;
  transition: 0.2s all;
}

.product:last-child {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content > *:first-child {
  flex: 1 0 70%;
}

.content > *:last-child {
  flex: 1 0 30%;
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 0;
}

.price {
  margin-top: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: var(--yellow);
}
